 html, body{
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin: 0;
        min-height: 180px;
        padding: 0;
        width: 384px;
        border-radius: 15px;
        }

      h1 {
        font-family: "Menlo", monospace;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        color: #2f5876;
      }
      a:link,
      a:visited {
        color: #000000;
        outline: 0;
        text-decoration: none;
      }
      img {
        width: 30px;
      }
      .modal-header {
        align-items: center;
        border-bottom: 0.5px solid #dadada;
        
      }
      .modal-content {
        padding: 0 22px;
        text-align: center;
      }
      .modal-icons {
        border-top: 0.5px solid #dadada;
        height: 50px;
        width: 100%;
      }
      .logo {
        padding: 16px;
      }
      .logo-icon {
        vertical-align: text-bottom;
        margin-right: 12px;
      }
      .version {
        color: #444;
        font-size: 18px;
      }
      .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 22px;
      }
      .flex {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        width: 120px;
      }
      .flex:hover {
        opacity: 0.4;
      }
      .flex .fas,
      .flex .fab,
      .flex .fa {
        font-size: 40px;
       
      }
      .fb{
        color:  #0894f9;
      }
      .yt{
        color: #bd2206;
      }
      .grades{
        color: rgb(1, 165, 89);
      }
    .me{
      color: #334578;
    }
    .local3000{
      color: rgb(240, 218, 23);
    }
    .react{
      color: #057094;
    }
